@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.bg-container {
  background-image: url("https://img.freepik.com/free-photo/travel-concept-with-landmarks_23-2149153256.jpg?w=1380&t=st=1705714142~exp=1705714742~hmac=4784799abb70c6cf23d55e28ab4979108d9d57bd4f6301704c7bf314542fcf00");
  background-size: cover;
  height: 100vh;
}

.tourism-card {
  text-align: center;
  background-color: white;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  padding: 6px;
}

.main-heading {
  color: black;
  font-family: "Lobster";
}

.paragraph {
  color: grey;
}

.button {
  height: 35px;
  width: 135px;
  color: white;
  background-color: #25b1cc;
  border-radius: 25px;
  border-width: 0px;
}
